@tailwind base;
@tailwind components;
@tailwind utilities;

$color-projectsBg: hsl(160, 55%, 20%);
$color-aboutBg: hsl(42, 51%, 31%);
$color-contactBg: hsl(210, 55%, 20%);
$color-projectsSecondBg: hsl(188, 55%, 20%);

.theme-projects {
  --color-primary: 160 95% 50%;
  --color-primaryLight: 160 84% 39%;
  --color-primaryDark: 160 84% 29%;
  --color-primarySecondary: 188 95% 50%;
}

.theme-about {
  --color-primary: 40 95% 50%;
  --color-primaryLight: 40 84% 39%;
  --color-primaryDark: 40 84% 29%;
}

.theme-contact {
  --color-primary: 210 95% 50%;
  --color-primaryLight: 210 84% 39%;
  --color-primaryDark: 210 84% 29%;
}

:root {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}

body {
  background: rgb(16, 16, 16);
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.projectsBg {
  background: radial-gradient(
    100% 100% at 100% 0%,
    hsl(188, 55%, 20%) 20%,
    hsl(160, 55%, 19%) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.aboutBg {
  background: radial-gradient(
    100% 120% at 100% 0%,
    $color-aboutBg 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.contactBg {
  background: radial-gradient(
    100% 120% at 100% 0%,
    $color-contactBg 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.transColor {
  transition: color 1s 1s;
}

.tapHighlight {
  -webkit-tap-highlight-color: transparent;
}

.shadowAround {
  box-shadow: 0px 0px 4px 1px hsla(160, 20%, 50%, 0.25);
}

.animateChild {
  transition: background 1s ease-out;
}

@layer components {
  .btn-primary {
    &::before {
      display: block;
      position: absolute;
      top: -0.5rem;
      left: -1rem;
      border-radius: 0.75rem;
      width: 100%;
      height: 100%;
      padding: 1.5rem 4.5rem;
    }
    display: inline-block;
    @apply relative focus:outline-none;
  }
  .btn-text {
    @apply;
  }

  .hoverOnParent:hover .animateChild,
  .hoverOnParent:focus .animateChild {
    background-position: 200%;
  }
}
